{% extends 'base.html' %}
{% block content %}
{% load static %}
<title>Approve Submissions</title>

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="check-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
</svg>

<link rel="stylesheet" href="{% static 'geoGuess.css' %}" type="text/css" />
<body>
    <div class="container p-5 d-flex align-items-center justify-content-center">
        <div style="width: 500px">
            <h1 class="text-center">Approve Submissions</h1>
            <div>
                <ul class="list-group mt-4" style="max-width: 600px">
                    {% for Challenge in challenge_list %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <img src="{{ Challenge.image.url }}" style="height:100%; max-width: 35%; border-radius: 5%;">
                            <div>
                                Submitted by {{ Challenge.user }}
                            </div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#approvalModal_{{Challenge.id}}"> See More </button>
                        </li>
    
                         <!-- Approve/Deny Modal -->
                        <div class="modal fade modal-xl" id="approvalModal_{{Challenge.id}}" tabindex="-1" aria-labelledby="approvalModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="approvalModalLabel">Approve Submission</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Would you like to approve or deny the submission?
                                    <div class="container p-3 text-center">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <img src="{{Challenge.image.url}}" class="img-fluid" style="width: 100%; max-height: 350px; display: block; margin: 0 auto; border-radius: 5%; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="">
                                                    <div class="map-container" id="map_{{ Challenge.id }}" data-lat="{{ Challenge.latitude }}" data-lng="{{ Challenge.longitude }}" data-id="map_{{ Challenge.id }}" style="height: 350px; border-radius: 5%; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <form method="post" class="modalForm" action="{% url 'admin_feedback' challenge_id=Challenge.id %}" style="width: 100%;">
                                        {% csrf_token %}
                                        <div style="justify-content:end; display: flex;">
                                            <button class="btn btn-danger mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#feedbackInput_{{Challenge.id}}" aria-expanded="false" aria-controls="feedbackInput_{{Challenge.id}}">Deny</button>
                                            <button type="submit" name='approved' class="btn btn-success">Approve</button>
                                        </div>
                                        
                                        <div class="input-group my-3 collapse" id="feedbackInput_{{Challenge.id}}" >
                                            <input type="text" id="feedback" name="feedback" class="form-control" placeholder="Explain why this challenge was denied" aria-label="Recipient's username" aria-describedby="button-addon2">
                                            <button class="btn btn-outline-secondary" name="denied" type="submit" id="button-addon2">Send</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            </div>
                        </div>
                    {% empty %}
                    <li class="list-group-item d-flex justify-content-between align-items-center"> 
                        You have no submissions to approve
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- TODO: make this form success alert work -->
            <!-- <div id="successAlert" class="alert alert-success align-items-center my-4" role="alert" style="display: none;">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:" style="height: 20px; width: 20px;"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                    Challenge feedback successfully sent to user.
                </div>
            </div> -->
        </div>

        <!-- ALERT POPUP FOR FORM SUBMISSION
        <script>
            var modalForms = document.querySelectorAll('.modalForm');

            modalForms.forEach(function(form) {
                form.addEventListener("submit", function(event){

                    var alert = document.getElementById("successAlert");
                    alert.style.display = "flex";
                    
                    console.log("what is going on");
                })
            });
        </script> -->

        <!-- GOOGLE MAPS INITIALIZATION WITHIN MODAL -->
        <script>
            function initMap() {
                var mapContainers = document.querySelectorAll('.map-container');
    
                mapContainers.forEach(function(container) {
                    var latitude = parseFloat(container.getAttribute('data-lat'));
                    var longitude = parseFloat(container.getAttribute('data-lng'));
                    var mapId = container.getAttribute('data-id');
    
                    var mapOptions = {
                    center: { lat: latitude, lng: longitude },
                    zoom: 14
                    };
                    var map = new google.maps.Map(document.getElementById(mapId), mapOptions);
                    var marker = new google.maps.Marker({
                        position: { lat: parseFloat(latitude), lng: parseFloat(longitude) },
                        map: map
                    });
                });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&callback=initMap&v=weekly" async defer></script>
    </div>
</body>
{% endblock content %}