html,
body {
    height: 100%;
    background-color: #f4f4f8;
    margin: 0;
    padding: 0;
}

#pano {
    margin: 10px;
    padding-top: 10px;
    float: left;
    align-content: center;
    height: 65%;
    width: 45%;
}

#guessMap {
    position: relative;
    margin-top: 10px;
    height: 100vh;
    max-width: 100%;
}

#guessButton {
    position: absolute;
    max-width: 100%;
    display: inline-flex;
    margin-top: 10px;
}

#guessButton::before,
#guessButton::after {
    content: '';
    display: inline-block;
    width: 2em;
    float: right;
}

#distance {
    max-width: 45em;
    margin-top: 45px;
}

#map {
    margin: 10px;
    height: auto;
    padding-top: 10px;
    align-content: center;
    height: 50%;
    width: 35%;
}