<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GeoGuess App Login</title>
    <style>
      /* Custom styles for the base */
      body {
        background-color: #f4f4f8; /* light grayish background */
      }
    </style>
  </head>
  <body>
      {% if user.is_superuser %}
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">HoosWhere?</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="#"
                  >See Challenges</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin_users' %}">See Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'approve_submissions' %}">Approve Submissions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">See Reports</a>
              </li>
      {% else %}
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">HoosWhere?</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{% url 'home' %}"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'maps' %}">Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'challenge' %}">Create</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="{% url 'submissions' %}">View Submissions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Leaderboards</a>
              </li>
        {% endif %}
          </ul>
          <span
            class="navbar-text d-flex align-items-center"
            style="height: 30px"
          >
            Hello, {{ user.socialaccount_set.all.0.extra_data.name }}!
            <img
              class="user-icon mx-2"
              src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
              alt="User Image"
              style="height: 30px; width: 30px"
            />
          </span>
        </div>
      </div>
    </nav>

    {% block content %} 
    {% endblock content %}
  </body>
</html>
