<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maps View</title>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&callback=initMap" async defer></script>
    <script>
        function initMap() {
            var center = {lat: -34.397, lng: 150.644};  // Change these coordinates as needed
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: center
            });
            var marker = new google.maps.Marker({
                position: center,
                map: map
            });
        }
    </script>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    {% if user.is_authenticated %}
    <div id="map"></div>
    {% endif %}
</body>
</html>