{% extends 'base.html' %}
{% block content %}
<title>Create Challenge</title>

<!-- Google Maps CSS -->
{% load static %}
<link rel="stylesheet" href="{% static 'geoGuess.css' %}" type="text/css"/>

<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&callback=initialize&v=weekly"
        defer></script>
<body>
<div class="text-center">
    <div id="error-message" class="error-message" style="display: none;"></div>
    <h2 class="my-3"> Add a New Location to Be Featured in a Future Challenge</h2>
    <h4 class="my-3"> In the space below, upload an image at UVA, you would like to be featured in a future challenge
        :)</h4>
    <h4 class="my-3"> Then, click below where the location is on the map </h4>
    <h4 class="my-3"> Once, you hit submit, you should be able to go to the "View Submissions" and see if your
        submission gets approved </h4>
</div>
<div class ="text-center">
    <form id="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.formset.errors }}
        {{ form.non_field.errors }}
        <!-- Image Upload Field -->
        <label class="my-3"for="id_image">Image:</label>
        <input type="file" name="image" id="id_image" required>
        <br>

        <!-- Hidden Longitude and Latitude Fields (filled by the map click) -->
        <input type="hidden" name="longitude" id="id_longitude">
        <input type="hidden" name="latitude" id="id_latitude">

        <!-- Map Div -->
        <div class="text-center" id="map" style="height: 400px; margin: 0 auto;"></div>
        <br>
        <input type="submit" value="Submit" class="my-3 text-white bg-primary"/>
    </form>
</div>
<!-- Google Maps Initialization -->
<script>
    var map;
    var marker;
    var form = document.getElementById("form")

    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(0, 0),
            zoom: 2
        };

        map = new google.maps.Map(document.getElementById("map"), mapOptions);

        google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(event.latLng);
        });
    }

    function placeMarker(location) {
        if (marker) {  // if marker exists, remove it
            marker.setMap(null);
        }
        marker = new google.maps.Marker({
            position: location,
            map: map
        });

        // Update the hidden form fields with the clicked coordinates
        document.getElementById('id_longitude').value = location.lng();
        document.getElementById('id_latitude').value = location.lat();
    }

    form.addEventListener("submit", function (event) {
        // Check if latitude and longitude are empty
        var latitude = document.getElementById('id_latitude').value;
        var longitude = document.getElementById('id_longitude').value;

        // Error message element
        var errorMessage = document.getElementById("error-message");

        if (!latitude || !longitude) {
            // Display an error message
            errorMessage.innerText = 'Please place a marker on the map for the corresponding image!';
            errorMessage.style.display = 'block';

            // Prevent form submission
            event.preventDefault();
        }
    });

    // TO-DO: add error check if marker isn't placed
    // This function will be called once the Google Maps script is loaded
    initialize();
</script>
</body>
{% endblock content %}
