{% extends 'base.html' %}
{% block content %}
{% block user_greeting %}
{% endblock user_greeting %}
<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'geoGuess.css' %}" type="text/css" />
    <style>
        /* Custom styles */
        .card {
          border-radius: 20px;
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
          min-width: 600px;
        }
      
        .user-icon-home {
          border: 3px solid white;
          width: 80px;
          height: 80px;
          display: block;
        }
        li a {
            text-decoration: none;
            display: block; 
        }

        /* Style for the link hover effect */
        li:hover {
            background-color: #ddd;
        }
      </style>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-5">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="user-icon user-icon-home"
                                 src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
                                 alt="User Image" />
                        </div>
                        <div class="col-md-10">
                            <div class="d-flex flex-column align-items-start">
                                <div class="ml-2">
                                    <h3 class="font-weight-bold">{{ user.first_name }} {{ user.last_name }}</h3>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h4 class="text-muted" style="margin-right: 10px;">Rating: {{ stats.rating }}</h4>
                                    <h4 class="text-muted">Games: {{ stats.games_played }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-5">
                    <h2>Recent Scores</h2>
                    <ul class="list-group mt-4" style="max-width: 600px">
                    {% for guess in recent_guesses %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <img src="{{ guess.challenge.image.url }}" style="width: 80px;height: 80px;display: block;">
                                <h2>
                                    {{ guess.score }}
                                </h2>
                            </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock content %}