{% extends 'base.html' %}
{% block content %}
<title>{{ user.first_name }} {{ user.last_name }}</title>
{% block user_greeting %}
{% endblock user_greeting %}
<body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'geoGuess.css' %}" type="text/css" />
    <style>
        /* Custom styles */
        .card {
            border-radius: 20px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
            min-width: 600px;
        }

        .user-icon-home {
            border: 3px solid white;
            width: 80px;
            height: 80px;
            display: block;
        }

        .score-card {
            text-decoration: none;
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 12px;
            margin-bottom: 10px;
            background-color: white;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            overflow: hidden;
        }

        .score-card:hover {
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            background-color: #f8f9fa;
        }

        .score-card img {
            width: 80px;
            height: 80px;
            margin-right: 15px;
            object-fit: cover;
        }

        .score {
            font-size: 1.5rem;
            font-weight: bold; /* Make the score bold */
            margin: 0;
            padding: 0;
            color: black;
            flex-grow: 1;
            text-align: right;
        }

        .list-group {
            padding-left: 0;
            list-style: none;
            width: 100%;
        }
    </style>
      <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-5">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="user-icon user-icon-home"
                                 src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
                                 alt="User Image" />
                        </div>
                        <div class="col-md-10">
                            <div class="d-flex flex-column align-items-start">
                                <div class="ml-2">
                                    <h3 class="font-weight-bold">{{ user.first_name }} {{ user.last_name }}</h3>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h4 class="text-muted" style="margin-right: 10px;">Rating: {{ stats.rating }}</h4>
                                    <h4 class="text-muted">Games: {{ stats.games_played }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-5">
                    <h2>Recent Scores</h2>
                    <div class="list-group">
                        {% for guess in recent_guesses %}
                            {% if guess.daily_challenge %}
                                <a href="{% url 'daily_challenge' pk=guess.daily_challenge.pk %}" class="score-card">
                                    <img src="{{ guess.challenge.image.url }}" alt="Challenge Image">
                                    <span class="score">{{ guess.score }}</span>
                                </a>
                            {% else %}
                                <div class="score-card">
                                    <img src="{{ guess.challenge.image.url }}" alt="Challenge Image">
                                    <span class="score">{{ guess.score }}</span>
                                </div>
                            {% endif %}
                        {% empty %}
                            <div class="score-card">No recent scores to display.</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock content %}
